/*页面样式*/



/*基本默认值*/

html {color:#000;background:#FFF;}
body, h1, h2, h3, h4, h5, h6, p, form, fieldset, table, th, td, img, div, dl, dt, dd, ul, ol, li, pre, button, input{
    margin: 0;
    padding: 0;}
body{font:12px/1.5 "Arial","宋体";background-color: #fff;}
a{text-decoration:none;color: #2d374b;}
a:hover {text-decoration: underline;color: skyblue;}
input,select,textarea,img,fieldset{outline:none;border: none;}
table {border-collapse:collapse;border-spacing:0;}
iframe{display:block;border:none;}
ul,ol{list-style:none;}
textarea{resize:none;}

/*公共样式样式*/
.hide{display:none !important;}
.block{display:block;}
.fl{float:left;}
.fr{float:right;}
.clearfix{clear:both;}
::selection{
    background-color: red;
    text-shadow: none;
}


/* 清除浮动 */
.clearfix:after{content:"";display:block;clear:both;}
  

html{
    font-size:100%;

}
h1{
    width: 50%;
    font-size: 3rem;
    margin: 0.5rem auto;
    font-weight: normal;

}
@media only screen and (max-width: 50em){
    h1{
        background:green ;
        
    }

}
@media only screen and (min-width: 30.0625em) and (max-width: 50em){
    ul li a{
        color:red;
    }
    
}
@media only screen and (max-width: 30em){
    ul li a{
        background-color: blue;
    }
    
}
.ul-left{
    width: 50%;
    margin: 0.5rem auto;
}
ul li{
    
    width: calc(100% - 2rem);
    text-align: center;
   padding: 1rem 1rem 1rem 1rem;
}
ul li a{
    font-size: 2rem;
}
.img {
    width: 60%;
    margin: 0 auto;
    
}
.img img{
    width: calc(100% / 4 - 2rem);
    padding: 1rem 1rem 0rem 1rem;

}
footer{
    width: 100%;
    height: 12rem;
    margin: 1rem auto;
    background: url(../img/u=1040029650,4071144263&fm=23&gp=0.jpg) repeat-x;
}
.div1{
    float: left;
    border: 1rem solid pink;
    padding-right: 3rem; 
    width: calc(100% / 3 - 3rem - 2rem);
    height: 15rem;
}

